<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Backbone.js • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<div id="new-todo-div">
					<button class="priority-btn"></button>
					<input id="new-todo" placeholder="What needs to be done?" autofocus>
				</div>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			<p>Extended by <a href="https://github.com/spate159">Shyam Patel</a></p>

		</footer>
		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
				<div class="priority-text">
				<% for (var n = 0; n < priority; ++ n){ %>!<% } %>
				</div>
				<label><%- title %></label>
				<div class="dropdown priority">
					<button class="priority-btn"></button>
					<div class="dropdown-content">
					    <a class="priority-item <%= priority==='1' ? ' selected' : priority %>" data-priority="1">!</a>
					    <a class="priority-item <%= priority==='2' ? ' selected' : priority %>" data-priority="2">!!</a>
					    <a class="priority-item <%= priority==='3' ? ' selected' : priority %>" data-priority="3">!!!</a>
				  	</div>
				</div>
				<button class="label-btn"></button>
				<button class="color-btn"></button>
				<button class="edit-btn"></button>
				<button class="destroy"></button>
				<div class="color-pallete">
					<!-- <span style="background: #332288;width: 20px;height: 20px; display: inline-block"></span>
					<span style="background: #111111;width: 20px;height: 20px; display: inline-block"></span> -->
				</div>

			</div>
			<div class="color-mark" style="border-color:<%- color %>"></div>

			<input class="edit" value="<%- title %>">
			<input class="add-label" value="<%- label %>" placeholder="Add label">
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
				<li>
					<a href="#/deleted">Deleted</a>
				</li>
			</ul>
			<% if (completed && app.TodoFilter !== 'deleted') { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
			<% if (deleted && app.TodoFilter === 'deleted') { %>
			<button id="clear-deleted">Clear deleted (<%= deleted %>)</button>
			<% } %>
		</script>
		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="js/components/pallete.js"></script>
		<script src="js/models/todo.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/views/todo-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
		<script>
		// $(document).ready(function(){
     // 	// 	$('.foo').addClass('debug');
     // 		$('#new-todo-div input').hover(function () {
  // 			alert("hello");
		// 	})
		// });
		</script>
	</body>
</html>
